<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Process Animals</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/style.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
   
      <!-- plant -->
      <div id="plant" class="plants">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2>Process Animals</h2>
                     <span>Invasive Alien Species Detector</span>
                  </div>
               </div>
               <div class="option">
                  <form action="http://localhost:5000/upload_ani" enctype="multipart/form-data" method="POST">
                     <input type="file" name="pic" id="file">
                     <input type="submit" value="Upload the image to process" id="upload">
                 </form>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="plants-box">
                     <figure><img src="static/img/Apple snail.jpg" alt="img"/></figure>
                     <h3> Apple Snail</h3>
                     <p>Ampullariidae, common name the apple snails, is a family of large freshwater snails, aquatic gastropod mollusks with a gill and an operculum. This family is in the superfamily Ampullarioidea and is the type family of that superfamily.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/scavenger.jpg" alt="img"/></figure>
                     <h3> Scavenger</h3>
                     <p>Scavenger fish are bottom feeders that eat debris, dead fish, and algae on the floor of a body of water. Scavengers help keep water clean and are a major asset to the environment in which they live. Scavenger fish are great for aquariums as well; they can cut cleaning time and costs.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/Giant African Snail.jpg" alt="img"/></figure>
                     <h3> Giant African Snail</h3>
                     <p>Lissachatina fulica is a species of large land snail that belongs in the subfamily Achatininae of the family Achatinidae. It is also known as the Giant African land snail. It shares the common name "giant African snail" with other species of snails such as Achatina achatina and Archachatina marginata.</p>
                     </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/Knife Fish.jpg" alt="img"/></figure>
                     <h3> Clown Knife Fish</h3>
                     <p>The clown featherback, clown knifefish, or spotted knifefish, Chitala ornata, is a nocturnal tropical fish with a long, knife-like body. This knifefish is native to freshwater habitats in Cambodia, Laos, Thailand, and Vietnam, but it has also been introduced to regions outside its native range.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/Marble Cat Fish.jpg" alt="img"/></figure>
                     <h3> Marble Cat Fish</h3>
                     <p>The walking catfish is a species of freshwater airbreathing catfish native to Southeast Asia. It is named for its ability to "walk" and wiggle across dry land, to find food or suitable environments.</p>
                     </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/Red-eared Slider.jpg" alt="img"/></figure>
                     <h3> Red-eared Slider</h3>
                     <p>The red-eared slider, also known commonly as the red-eared terrapin, red-eared slider turtle, red-eared turtle, slider turtle, and water slider turtle, is a subspecies of semiaquatic turtle belonging to the family Emydidae. It is a subspecies of the pond slider.</p>
                     </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end plant -->
     
      
      
      <!-- footer -->
      <footer>
         <div id="contact" class="footer">
            <div class="copyright">
               <div class="container">
                  <p>Invasive Alien Species Detector - Team Omega</p>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>