<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Process Plants</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/style.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
   
      <!-- plant -->
      <div id="plant" class="plants">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2>Process Plants</h2>
                     <span>Invasive Alien Species Detector</span>
                  </div>
               </div>
               <div class="option">
                  <form action="http://localhost:5000/upload_plant" enctype="multipart/form-data" method="POST">
                     <input type="file" name="pic" id="file">
                     <input type="submit" value="Upload the image to process" id="upload">
                 </form>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="plants-box">
                        <figure><img src="static/img/salvinia.jpg" alt="img"/></figure>
                        <h3> Salvinia Molesta</h3>
                        <p>Salvinia molesta, commonly known as giant salvinia, or as kariba weed after it infested a large portion of Lake Kariba between Zimbabwe and Zambia, is an aquatic fern, native to south-eastern Brazil.</p>
                    </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/Giant Mimosa.jpg" alt="img"/></figure>
                     <h3> Mimosa pigra</h3>
                     <p>Mimosa pigra, commonly known as the giant sensitive tree, is a species of plant of the genus Mimosa, in the family Fabaceae. The genus Mimosa contains 400–450 species, most of which are native to South America.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/pitchapple.jpg" alt="img"/></figure>
                     <h3> Clusia Rosea</h3>
                     <p>Clusia rosea, the autograph tree, copey, cupey, balsam apple, pitch-apple, and Scotch attorney, is a tropical and sub-tropical plant species in the genus Clusia. The name Clusia major is sometimes misapplied to this species.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/Prickly pear Cactus.jpg" alt="img"/></figure>
                     <h3> Opuntia Dillenii</h3>
                     <p>Opuntia stricta is a large-sized species of cactus that is endemic to the subtropical and tropical coastal areas of the Americas, especially around the Caribbean. Common names include erect prickly pear and nopal estricto. The first description as Cactus strictus was published in 1803 by Adrian Hardy Haworth.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="static/img/creepingoxeye.jpg" alt="img"/></figure>
                     <h3> Sphagneticola Trilobata</h3>
                     <p>Sphagneticola trilobata, commonly known as the Bay Biscayne creeping-oxeye, Singapore daisy, creeping-oxeye, trailing daisy, and wedelia, is a plant in the Heliantheae tribe of the Asteraceae family. It is native to Mexico, Central America, and the Caribbean, but now grows throughout the Neotropics.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="plants-box">
                   <figure><img src="static/img/lantana.jpg" alt="img"/></figure>
                   <h3> Lantana</h3>
                   <p>Lantana is a genus of about 150 species of perennial flowering plants in the verbena family, Verbenaceae. They are native to tropical regions of the Americas and Africa but exist as an introduced species in numerous areas, especially in the Australian-Pacific region, South and Northeastern part of India.</p>
                </div>
             </div>
            </div>
         </div>
      </div>
      <!-- end plant -->
     
      
      
      <!-- footer -->
      <footer>
         <div id="contact" class="footer">
            <div class="copyright">
               <div class="container">
                <p>Invasive Alien Species Detector - Team Omega</p>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>