<!DOCTYPE html>
<html lang="en">
<head>
    <title>Red Eared Slider</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1 id="heading">Red-eared Slider (Trachemys scripta)</h1>

    <div align="center"><img src="/static/images/red-eared-slider-habitat.jpg"></div>

    <p>This tenacious terrapin is arguably the world’s most popular pet reptile ‒ thanks to its miniature size, 
        relatively low maintenance, and uniquely interactive personality. 
        Originally endemic to North America, the semi-aquatic critter was introduced to Sri Lankan aquarists in the ’80s.</p>
    <p>
        Today, the slider is known to inhabit wetlands in the Western and North Central provinces, and can breed all year round ‒ 
        laying up to 30 eggs, which hatch after about 60-110 days. Sliders prey on local fish spawn and can be aggressive towards other turtles, 
        competing for both food and nesting grounds with vulnerable endemic species.
    </p>
    <p>
        The red-eared slider is the only turtle listed in the International World Conservation Union’s 
        list of the 100 most dangerous invasive species on the planet. 
        Both the European Union and South Africa have banned imports of Red-eared Sliders due to their detrimental impact on the environment.
    </p>
</body>
</html>